.tarea {
    border-radius: 15px;
    padding: 10px 20px;
    background-color: rgb(197, 230, 233);
    margin: 10px;
}

.completed {
    background-color: rgb(150, 187, 191);
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

hr {
    height: 50px;
    background-color: rgb(145, 144, 144);
    border: none;
    width: 1px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 300px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    text-align: center;
}

.edit_button, .complete_button, .borrar_button {
    cursor: pointer;
    color: rgb(0, 195, 255);
    padding: 5px 10px;
    font-size: 130%;
}

.borrar_button {
    color: rgb(255, 0, 0);
}

.complete_button {
    color: rgb(2, 179, 2);
}
