.tarea {
    display: flex;
    border-radius: 15px;
    padding: 15px 50px;
    background-color: rgb(197, 230, 233);
    margin: 10px;
}

li {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
}

li h3 {
    max-width: 200px;
}

li hr {
    height: 200%;
    background-color: rgb(145, 144, 144);
    border: none;
    width: 1px;
}