.tareas-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}

.tareas-filtro {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: rgb(4, 162, 210);
}

.tareas-title {
    color: rgb(4, 162, 210);
}

h2.tareas-title {
    margin-left: auto;
}

#tareas-select {
    padding: 8px;
    text-align: center;
    border-color: rgb(4, 162, 210);
    outline-color: rgb(4, 162, 210);
    color: rgb(4, 162, 210);
    width: 140px;
}
